button:hover{
    transform: scale(1.1);
}
button:active{
    transform: scale(1.5);
}
.page-menu-item.active {
    font-weight: bold;
}

.page-menu-item {
    border: none !important;
}
